/* Corps principal */

body {
	background-color: #ffffe5;
	font-family: Arial, sans-serif;
	color: #181818;
}

#bloc_page {
	width: 90%;
	margin: auto;
}

section h1, footer h1, nav a {
	font-family: Dayrom, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}

/* Corps */

section {
	display: flex;
	margin-bottom: 30px;
}

article, aside {
	text-align: justify;
}

article {
	margin-right: 80px;
}

aside {
	width: 40%;
	position: relative;
	background-color: #006666;
	box-shadow: 0px 3px 4px #003333;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.9em;
}